<footer>
  <p class="copyright">Spanish Restaurants in Tokyo © 2022</p>
  <p class="madeby">Site designed by:</p>
  <div class="tirsop">
    <a href="https://tirsop.com" target="_blank">
      <img class="avatar" src="/img/Tirso Pascual.jpeg" alt="Tirso Pascual">
    </a>
  </div>
</footer>