@import url("components/button.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}

.rest-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.rest-img-popup {
  width: 100%;
  height: 70px;
  object-fit: cover;
}
.map-popup {
  width: 170px;
}