<% layout('layouts/boilerplate') %>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <div class="card shadow mb-5">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1630175860333-5131bda75071?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" style="height:300px; object-fit: cover;" alt="" >
          <div class="card-body">
            <h5 class="card-title text-center">Add a new Restaurant!</h5>
            <form action="/restaurants" method="post" novalidate class="needs-validation">
              <div class="mb-3">
                <label class="form-label" for="name">Name:</label>
                <input class="form-control" type="text" name="restaurant[name]" id="name" required>
              </div>
              <div class="mb-3">
                <label class="form-label" for="location">Location:</label>
                <input class="form-control" type="text" name="restaurant[location]" id="location" required>
              </div>
              <div class="mb-3">
                <label class="form-label" for="country">Food from which country?</label>
                <select class="form-select" name="restaurant[country]" id="country">
                  <option selected value="spain">Spain</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label" for="url">Google Maps URL:</label>
                <input class="form-control" type="text" name="restaurant[url]" id="url" required>
              </div>
              <div class="mb-3">
                <label class="form-label" for="image">Image URL:</label>
                <input class="form-control" type="text" name="restaurant[image]" id="image">
              </div>
              <div class="mb-3 d-grid">
                <button class="btn btn-success">Add Restaurant</button>
              </div>
            </form>
            <a href="/restaurants">Back to All Restaurants</a>
          </div>
        </div>
      </div>
    </div>
  </div>